
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 75px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  .btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
  }

#header {
    display: flex;
    height: 65px;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#header #info {
    display: flex;
    align-items: center;
}

#header #info img {
    height: 65px;
    /* object-fit: cover */
}

#header #info h1 {
    margin: 0;
} 

#header #nav-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#header #nav-bar a {
    text-decoration: none;
    color: #000;
    margin: 0 20px;
    text-transform: uppercase;
}

#video-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#form-wrapper {
    display: flex;
    justify-content: center;

}

#form {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#form input[type="email"] {
    width: 60%;
    height: 25px;
}

#form input[type="submit"] {
    width: 30%;
    margin-left: auto;
}


// features

#features {
  margin-top: 30px;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;

    @media (max-width: 550px) {
      display: none;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;

    @media (max-width: 550px) {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    margin-top: 0;
  }
}

// how it works

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  
  iframe {
    max-width: 560px;
    width: 100%;
  }
}

// pricing

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  #tenor, #bass, #valve {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    
    .level {
      background-color: #ddd;
      color: black;
      padding: 15px 0;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
    }
    
    h2 {
      margin-top: 15px;
    }
    
    ol {
      margin: 15px 0;
      
      li { padding: 5px 0; }
    }
    
    button {
      border: 0;
      margin: 15px 0;
      background-color: #f1c40f;
      font-weight: 400;
      
      &:hover {
        background-color: orange;
        transition: background-color 1s;
      }
    }
  }
  
  @media (max-width: 800px) {
    flex-direction: column;
    
    #tenor, #bass, #valve { max-width: 300px; width: 100%; margin: 0 auto; margin-bottom: 10px; }
  }
}

// footer

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
  
  ul {
    display: flex;
    justify-content: flex-end;
    
    li {
      padding: 0 10px;
    }
  }
  
  span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }
}